body {
    background-color: rgb(5, 16, 71);
    margin: -17px 0 0 0;
    color: #fff;
    font-family: 'kanit';
}
.topo  {
    text-align: right;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 6px solid #fdb347;
    border-radius: 10px;
    flex-direction: row;
  }
.logo {
    width: 50px;
    height: auto;
}
.catalogo img {
    width: 100%;
    max-width: 350px;
    height: 500px;
    object-fit: fill;
    border-radius: 10px;
}
.catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }